html{
  font-size: 16px;
}

body {
 /* font-size: 62.5%; /* 1em = 10px*/
 font-family: sans-serif;
 background: url("images/dreamM.jpg") repeat; 
 padding: 3em;
 color: teal;
}

header {

  padding: 3em 3em 3em 3em;
  font-family: Helvetica, serif;
  margin: auto;
  text-align: center;
  color: teal;
}

head {
  background: url("images/dreamM.jpg") repeat; 
  padding: 10em;
  font-family: Helvetica, serif;
  margin: auto;
  text-align: center;
  color: teal;
  padding: 1em 1em 1em 1em;
}

nav ul {
  text-align: left;
  display: inline-block;
  padding: 1em 1em 1em 1em;
}

nav ul li {
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

/* Typography Stuff */
p { 
  color: teal;
  margin: 0 0 2em 0;
  text-align: left;
}

a { 
  font-weight: bold; 
  text-decoration: none; 
  color: teal;
  margin: 0 5px;
}

@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushanscript-regular-webfont.eot');
    src: url('fonts/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('fonts/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('fonts/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg');
    font-weight: normal;
    font-style: cursive;

}


h1 {
  font-family: 'kaushan_scriptregular', cursive, serif;
  font-size: 3em;
  text-align: center;
  margin: auto;
  color: teal;
  
}
h2, h3, h4, h5, h6 {
  color: teal;
  text-align: left;
  margin: auto;
  padding: 1em;
}


footer {
  text-align: center;
  text-decoration: none;
  color: teal;
}

#navigation {
  float: left;
  width: 300px;
  height: 0;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

#navigation li {
  list-style:  none;
 }

.crop img {
  height: 200px;
  width: auto;
  overflow: hidden;
}

.navigation {
  background-color: white;
  text-align: center;
  list-style: none;
}

/* Bio */
.bio {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
}

.portfolio {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
}

.socialMedia {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
}

header {
  /*background-color: #FFFFCC;*/
  background: url("images/dreamM.jpg") repeat; 
  padding: 2em;
}

.address {
  text-align: center;
  color: teal;
}

.socialMedia {
  text-align: center;
}

.fofww {
  padding: 1em;

}

.address {
  font-family: 'kaushan_scriptregular', cursive, serif;
  font-size: 2em;
  text-align: center;
  color: teal;

}

.wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
  background: url("images/paper.jpg") repeat;
}