body {
 font-family: sans-serif;
 background: url("images/dreamM.jpg") repeat; 
 padding: 5em;
}

header {
  background: url("images/dreamM.jpg") repeat; 
  padding: 5em;
  font-family: Helvetica, serif;
  margin: auto;
  text-align: center;
  color: teal;
  padding: 1em 0em 6em 0em;
}

head {
  background: url("images/dreamM.jpg") repeat; 
  padding: 10em;
  font-family: Helvetica, serif;
  margin: auto;
  text-align: center;
  color: teal;
  padding: 1em 0em 6em 0em;
}

nav ul {
  text-align: left;;
  font-size: 1em;
  padding: 1em 1em 1em 1em;
}

nav ul li {
  text-align: left;
  font-size: 1em
  text-decoration: none;
  display: inline-block;
}

/* Typography Stuff */
p { 
  color: teal;
  margin: 0 0 1em 0;
  text-align: left;
}

a { 
  font-weight: bold; 
  font-size: 
  text-decoration: none; 
  color: teal;
  margin: 0 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: teal;
  text-align: left;
  margin: auto;
  padding: 1em;
}
h1 {
  text-align: center;
  color: teal;
}

h2 {
  color: teal;
}

footer {
  text-align: center;
  text-decoration: none;
}

#navigation {
  float: left;
  width: 300px;
  height: 0;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

#navigation li {
  list-style:  none;
 }

.crop img {
  height: 200px;
  width: auto;
  overflow: hidden;
}

.navigation {
  background-color: white;
  text-align: center;
  list-style: none;
}

/* Bio */
.bio {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
}

.portfolio {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
}

.socialMedia {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em;
}

.resume header {
  background-color: #FFFFCC;
  padding: 2em;
}

.address {
  text-align: center;
  color: teal;
}

.socialMedia {
  text-align: center;
}

.wrapper {
  background-color: white;
}